* {
  box-sizing: border-box;
}

html {
  background-color: #e4e6c3;
  font-family: roboto;
}

img .logo {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

header {
  max-width: 100%;
  max-height: 120px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

h1 {
  margin-top: 100px;
  margin-right: 100px;
}

body {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: repeating-linear-gradient(
    to right,
    #e4e6c3,
    #e4e6c3 10px,
    #ffff 10px,
    #ffff 20px
  );
}

h1 {
  text-align: center;
}

.navigation {
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
}

.navigation li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navigation li.active {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid-item {
  border: 10px solid #c1d3ac;
  padding: 10px;
  margin: 10px;
  background-color: #c1d3ac;
  border-radius: 15px;
  text-align: center;
}

.div-pic {
  display: flex;
  max-height: 400px;
  max-width: 100%;
}

.pic {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.btn {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  border-radius: 15px;
  background-color: #ceaeff;
}

.home {
  max-height: 30px;
  max-width: 50px;
  margin-top: 10px;
}

.cart {
  max-height: 40px;
  max-width: 70px;
  margin-top: 80px;
}

.product-img {
  display: grid;
  max-height: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(-10px 10px 8px black);
  padding: 20px;
}

.prod-wel {
  display: grid;
  max-height: 100%;
  max-width: 100%;
  margin-right: 100px;
  margin-left: 800px;
  padding: 20px;
}

footer {
  margin-top: 15px;
  background-color: white;
}

footer ul {
  text-align: center;
}

footer ul a {
  color: rgb(0, 0, 0);
}
