* {
  box-sizing: border-box;
}

html {
  background-color: #e4e6c3;
  font-family: roboto;
}
img .logo {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  text-align: center;
}

header {
  max-width: auto;
  max-height: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: repeating-linear-gradient(
    to right,
    #e4e6c3,
    #e4e6c3 10px,
    #ffff 10px,
    #ffff 20px
  );
}

h1 {
  text-align: center;
}

.navigation {
  text-align: center;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
}

.navigation li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navigation li.active {
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 5fr 5fr;
  grid-gap: 10px;
}

.grid-item {
  border: 10px solid #c1d3ac;
  padding: 10px;
  margin: 10px;
  background-color: #c1d3ac;
  border-radius: 15px;
  /* display: flex; */
  text-align: center;
  /* border-color: lime; */
}

.div-pic {
  display: flex;
  max-height: 100%;
  max-width: 100%;
}

.pic {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.btn {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  border-radius: 15px;
  background-color: #ceaeff;
}

footer {
  margin-top: auto;
}

footer ul {
  text-align: center;
}

footer ul a {
  color: rgb(0, 0, 0);
}
